*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --bg-web: #f5f7ff;
    --bg-input: #f5f7ff;
}
.cont{
    width: 100%;
    height: 100vh;
    /* background-image: url(/images/bg1.jpg); */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-web);
}

.todo{
    width: 450px;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 35px 10px;
    border-radius: 15px;
    box-shadow: -2px 2px 2px 0 rgb(80, 65, 243);
    border: 1px solid #000;
    background: #ffffff;
}
.todo h2{
    position: absolute;
    z-index: 2;
    color: #1f2937;
    border: 1px solid #000;
    border-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0;
    background: #ffffff;
    left: 50%;
    transform: translate(-50%,-100%);
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo .button{
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    border-radius: 50%;
    outline: none;
    font-size: 1.7em;
    font-weight: bold;
    border: 2px solid rgb(27, 27, 29);
    background-color: #6366f1;
    color: #fff;
}
.todo .button:hover{
    box-shadow: 0 0 15px 0 rgb(43, 36, 124) inset;
    animation: add .5s both alternate;
}
@keyframes add{
    50%{
        bottom: 5px;
    }
    75%{
        bottom: -5px;
    }
    100%{
        bottom: 0;
    }
}

.todo input{
    width: 380px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    background-color: #f8fafc;
    /* color: #fff; */
    outline: none;
    box-shadow: -2px 2px 2px 0 rgb(80, 65, 243);
}
.todo .list li{
    width: 380px;
    overflow-wrap: break-word;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8fafc;
    color: #1f2937;
    padding: 8px;
    transition: .3s;
    position: relative;
}
.todo .list li::before{
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 5px;
    height: 100%;
    background-color: #10b981;
}

.todo .list li:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 3px 0 rgba(99, 102, 241, 0.5);
}

.btns-task button{
    border: 2px solid;
    background-color: transparent;
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0 5px;
    transition: .5s; 
}
.btns-task .btn1-task{
    border-color: #10b981;
    color: #10b981;
    cursor: pointer;
}
.btns-task .btn2-task{
    border-color: #ef4444;
    color: #ef4444;
}
.btns-task .btn1-task:hover{
    background-color: #10b981;
    color: #fff;
    box-shadow: 0 0 5px 0 #10b981;
}
.btns-task .btn2-task:hover{
    background-color: #ef4444;
    color: #fff;
    box-shadow: 0 0 5px 0 #ef4444;
}
  /* لما المهمة متعملها done نخلي الزر أخضر والنص أبيض */
.btn1-task.done {
    background-color: #10b981;
    color: #fff;
}
.task-name{
    max-width: 260px;
    text-transform: capitalize;
}

.task-name.done{
    text-decoration: line-through;
    text-decoration-color: #000;
    text-decoration-thickness: 3px;
}
